@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font: 1em sans-serif;
  font-size: large;
  text-align: center;
  background-color:blue;
  border: 100px;
  color: blanchedalmond;
}





